@using X.PagedList
@using X.PagedList.Mvc.Core

@model IEnumerable<EntityLayer.Concrete.Place>
<!--	Our Services-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href="~/css/BlogList.css" rel="stylesheet" />
<section class="section section-sm">
    <div class="container">
        <h3>Popular Places</h3>
        <div class="row row-30">
            <div class="row">
                @foreach (var x in Model)
                {
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="blog-post rounded border">
                            <div class="blog-img d-block overflow-hidden position-relative">
                                <img src="@x.LocationUrl" class="img-fluid rounded-top" alt="">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="post-meta">
                                    <a href="/Place/PlaceDetails/@x.PlaceID/" class="text-light read-more">Read More <i class="mdi mdi-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="content p-3">
                                <small class="text-muted p float-right">@(((DateTime)x.CreatedDate).ToString("dd-MMMM-yyyy"))</small>
                                <small><a href="/Place/ListAllPlaces/@x.CountryID" class="text-primary">@x.Country.CountryName</a></small>
                                <h4 class="mt-2"><a href="/Place/PlaceDetails/@x.PlaceID/" class="text-dark title">@x.PlaceName</a></h4>
                                <p class="text-muted mt-2">Explore the @x.PlaceName in @x.CityName...</p>
                            </div>
                        </div><!--end blog post-->
                    </div><!--end col-->
                }
            </div><!--end row-->
        </div>
    </div>
</section>